env:
  global:
  - CC_TEST_REPORTER_ID=ABC123
language: node_js
node_js:
  - "stable"
before_script:
  - cd api
  - npm install
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
cache:
  directories:
  - node_modules
script:
  - npm test
  - npm run nyc
